@font-face {
    font-family: "Helvetica Bold";
    src: url(../Fonts/helvetica-bold.woff);
}

@font-face {
    font-family: "Baskerville Italic";
    src: url(../Fonts/Baskerville-Italic.woff);
}

body {
    margin: 0;
    padding: 0;
    min-width: 850px;
}





div.bg-video-container {
    position: fixed;
    top: 0;
    object-fit: cover;
    min-height: 100vh;
    width: 100vw;
    min-width: 850px;
    z-index: -1;
}

#bg-video {
    position: absolute;
    object-fit: cover;
    min-height: 100%;
    min-width: 100dvw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}





div.nav-bar {
    position: fixed;
    width: calc(100dvw - 2rem);
    min-width: 850px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    z-index: 10;
}

div.nav-bar div {
    position: relative;
    width: min-content;
    height: min-content;
}

div.nav-bar a {
    position: relative;
    width: min-content;

    font-family: "Helvetica Bold";
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.25rem; /* 2 || 3 */
    line-height: 1rem;
    letter-spacing: -0.02rem;
    text-align: center;
    white-space: nowrap;

    color: white;

    cursor: pointer;
}

div.nav-bar a:hover {
    color: black;
}



@keyframes fadeIn {
    0% {opacity: 0};
    100% {opacity: 100}
}

div.title-container {
    position: relative;
    height: 100dvh;
    z-index: 1;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: column nowrap;

    animation: fadeIn 3s ease-in-out;
/*     animation-delay: .2s; */
/*     transition: opacity, 5s, ease-in; */
}

div.title-flex {
    position: relative;
    bottom: 2rem;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    column-gap: -2rem;
}

object.title {
    position: relative;
    width: 50rem;
    min-width: 400px;
    padding: 0;
    margin: -.5rem;
    z-index: 1;

    color: white;
}

p.subtitle {
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: 0;
    bottom: 0;

    color: white;
    font-family: "Baskerville Italic";
    font-size: 1.25rem;
    letter-spacing: .1rem;
}










    @media screen and (max-width: 850px) {
        
        body {
            margin: 0;
            padding: 0;
            min-width: 0;
        }
        
        
        
        
        
        div.bg-video-container {
            position: fixed;
            top: 0;
            object-fit: cover;
            min-height: 100vh;
            min-width: 100vw;
            z-index: -1;
        }
        
        #bg-video {
            position: absolute;
            object-fit: cover;
            min-height: 100%;
            min-width: 100dvw;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        
        
        
        
        div.nav-bar {
            position: fixed;
            width: calc(100dvw - 2rem);
            min-width: 0;
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            z-index: 10;
        }

        div.nav-bar div {
            position: relative;
            width: min-content;
            height: min-content;
        }
        
        div.nav-bar a {
            position: relative;
            width: min-content;
        
            font-family: "Helvetica Bold";
            font-weight: normal;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1rem;
            line-height: 1rem;
            letter-spacing: -0.02rem;
            text-align: center;
            white-space: nowrap;
        
            color: white;
        
            cursor: pointer;
        }
        
        div.nav-bar a:hover {
            color: black;
        }
        
        
        
        @keyframes fadeIn {
            0% {opacity: 0};
            100% {opacity: 100}
        }
        
        div.title-container {
            position: relative;
            height: 100dvh;
            width: 100dvw;
            z-index: 1;
            margin: 0;
        
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-flow: column nowrap;
        
            animation: fadeIn 3s ease-in-out;
        /*     animation-delay: .2s; */
        /*     transition: opacity, 5s, ease-in; */
        }

        div.title-flex {
            position: relative;
            bottom: 1rem;

            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: space-around;
        }
        
        object.title {
            position: relative;
            width: 90vw;
            min-width: 0;
            padding: 0;
            margin: 0;
            z-index: 1;
        
            color: white;
        }
        
        p.subtitle {
            position: relative;
            margin: 0;
            padding: 0;
            margin-top: 0;
            bottom: 0;
        
            color: white;
            font-family: "Baskerville Italic";
            font-size: 1rem;
            letter-spacing: .1rem;
        }
    }