body {
    font-family: Helvetica, Arial, sans-serif;
}

div.sidebar {
    width: 15dvw;
    background-color: grey;
}

div.navbar a {
    margin: 0;
    font-weight: bold;
    font-size: 2rem;
    color: black;
    text-align: center;
}

div.navbar a:hover {
    background-color: white;
}
